@font-face {
  font-family: Noticia;
  src: url("/font/NoticiaText-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: WorkSans;
  src: url("/font/WorkSans-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: WorkSans;
  src: url("/font/WorkSans-SemiBold.woff");
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}
header {
  background-color: #043f2e;
}
header .top-header {
  background-color: #c8f169;
  /* position: fixed; */
  width: 100%;
  text-align: center;
  padding: 16px 0;
  font-family: WorkSans;
  font-size: 16px;
  /* font-weight: bold; */
  color: #2a6b2c;
  font-weight: 500;
}
header .top-header a {
  font-weight: bold;
  color: #2a6b2c;
}
header .top-header i {
  margin-right: 20px;
  float: right;
}
header .navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 1360px;
}
header .navbar nav {
  display: flex;
}
header .navbar ul {
  display: flex;
  align-items: center;
}
header .navbar ul li {
  list-style: none;
}
header .navbar a {
  text-decoration: none;
  padding: 4px 12px;
}
header .navbar .button-grp {
  display: flex;
  align-items: center;
}
header .navbar .button-grp button {
  padding: 12px 20px;
  margin: 0 12px;
  background-color: transparent;
  border: 2px solid #2a6b2c;
  font-family: WorkSans;
  color: #2a6b2c;
  border-radius: 4px;
}
header .navbar .button-grp button:hover {
  background-color: #043f2e;
  color: #c8f169;
  cursor: pointer;
}
header .navbar nav ul li a {
  font-family: WorkSans;
  font-weight: bold;
  font-size: 14px;
  color: #2a6b2c;
}
main {
  background-color: #043f2e;
}
main .content {
  padding: 40px 30px;
  display: grid;
  grid-template-columns: 360px 280px 280px auto;
  grid-template-rows: auto auto auto auto;
  column-gap: 24px;
}
main .content h1 {
  background-color: #c8f169;
  font-family: Noticia;
  font-size: 86px;
  color: #043f2e;
  text-align: center;
}
main .content .graph {
  border-bottom: 24px solid #043f2e;
  grid-row: 1/3;
  z-index: 3;
  display: flex;
}
main .content .graph-inner {
  padding: 20px;
  background-color: #2a6b2c;
  border-radius: 16px;
}
main .content .graph-inner p,
main .content .graph-inner span {
  margin: 8px 0;
  color: #c8f169;
  font-family: WorkSans;
  font-size: 14px;
}
main .content .graph-inner p:first-child {
  font-size: 32px;
}
main .content .graph-inner img {
  display: block;
  margin: 12px 0;
}
main .content .graph-inner .triangle {
  color: #c8f169;
  margin-right: 12px;
}
main .content .top-heading {
  grid-row: 1;
  grid-column: 1/4;
  z-index: 3;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  position: relative;
}
main .content .top-heading::before {
  content: "";
  position: absolute;
  left: 322px;
  bottom: -55px;
  height: 50px;
  width: 20px;
  border-top-left-radius: 40px;
  background-color: #000;
  box-shadow: 0 -25px 0 0 #043f2e;
  transform: rotate(90deg);
}
main .content .mid-heading {
  grid-row: 2;
  grid-column: 2/4;
  position: relative;
  z-index: 1;
  outline: 28px solid #043f2e;
  border-bottom-left-radius: 24px;
}
main .content .mid-heading::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -14px;
  height: 50px;
  width: 26px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #c8f169;
  transform: rotate(90deg);
}

main .content .mid-heading::after {
  content: "";
  position: absolute;
  /* background-color: #00F ; */
  right: -38px;
  bottom: -14px;
  height: 50px;
  width: 26px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #c8f169;
  transform: rotate(270deg);
}
main .content .bottom-heading {
  grid-row: 3;
  grid-column: 3/5;
  position: relative;
  z-index: 2;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
main .content .bottom-heading::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -14px;
  height: 50px;
  width: 26px;
  border-top-left-radius: 25px;
  z-index: 0;
  box-shadow: 0 -25px 0 0 #c8f169;
  transform: rotate(90deg);
}
main .content .bottom-heading::after {
  content: "";
  position: absolute;
  /* background-color: bisque; */
  left: -61px;
  top: 12px;
  height: 50px;
  width: 20px;
  border-top-left-radius: 40px;
  box-shadow: 0 -25px 0 0 #043f2e;
  transform: rotate(90deg);
}
main .content .group-img {
  width: 100%;
  grid-row: 2/5;
  grid-column: 1/3;
  border-top: 20px solid #043f2e;
  border-right: 20px solid #043f2e;
  box-sizing: content-box;
}
main .content .description {
  grid-column: 3/5;
  color: #ffffff;
  padding: 12px;
  font-family: WorkSans;
  font-size: 20px;
}
main .content .description button {
  font-family: WorkSans;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px 24px;
  margin-right: 12px;
  margin-top: 20px;
  border: 2px solid #ffffff;
  background-color: #043f2e;
  color: #ffffff;
}
main .content .description button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #043f2e;
}
.mobe {
	display: flex;
	gap: 100px;
	padding: 40px;
	background-color: #2A6B2C;
	border-radius: 10px;
}
/* upper small heading*/
.top-text-para {
	color: #C8F169;
	font-family: workSansSemiBold;
	margin-bottom: 20px;
}
/* heading of mob section */
h2 {
	font-size: 48px;
	font-family: NoticiaTextBold;
	color: #ffffff;
	margin-bottom: 28px;
}
/*description style*/
.mode-text-description {
	width: 64%;
	font-family: workSansRegular;
	color: #EEF2E3;
	margin-bottom: 36px;
}
/* button of mob section */
.mobe-btn {
	cursor: pointer;
	font-family: workSansRegular;
	color: #EEF2E3;
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 12px 32px;
	border-radius: 4px;
}
/* effects on hover */
.mobe-btn:hover {
	color: #043F2E;
	background-color: #ffffff;
}
/* bottom div styling */
.buisness-intelligence {
	padding: 40px 0;
	margin-top: 40px;
	display: flex;
	align-items: center;
	gap: 80px;
	padding: 40px;
	background-color: #2A6B2C;
	border-radius: 10px;
}
/* right div style */
.beyond-bi {
	width: 33%;
}
/* right div p tag styling */
.bi-text-description {
	font-family: workSansRegular;
	color: #EEF2E3;
	margin-bottom: 36px;
}
/* right div display grid */
.diffrent-platfroms {
	width: 60%;
	display: grid;
	grid-template-columns: calc(30% - 12px) calc(40% - 10px) calc(30% - 12px);
	grid-template-rows: 180px 150px 150px;
	grid-gap: 16px;
}
/* this is common class for each inner div for setting background-color */
.diffrent-platfroms-inner {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	background-color: #C8F169;
}
/* icon style of inner div*/
.diffrent-platfroms-inner img {
	width: 24px;
	height: 24px;
	margin-bottom: 10px;
}
/* text inside inner divs */
.diffrent-platfroms-text {
	font-size: 16px;
	color: #043F2E;
	font-family: workSansMedium;
}
/* first div of grid */
.one {
	height: 180px;
	border-radius: 10px;
}
/* second div of grid , position relative */
.two {
	height: 150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	border-bottom-left-radius: 0px;
	grid-column: 2 / span 2;
}
/* inner div of second div postition absolute */
.inner-two {
	position: absolute;
	width: 54%;
	height: 130%;
	left: 0px;
	top: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
}
/* third div of grid */
.three {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
	border-bottom-right-radius: 0px;
	grid-row: 2 / span 2;
}
/* inner div of third div postition absolute */
.inner-three {
	position: absolute;
	width: 34%;
	height: 47%;
	bottom: 0px;
	right: -34%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* fourth div of frid */
.four {
	border-radius: 10px;
	width: 72%;
	position: relative;
	left: 25%;
	grid-row: 3 / span 1;
}
/* fifth div of grid */
.five {
	border-radius: 10px;
	grid-area: 2 / 3 / span 2 / span 1;
	height: 108%;
	top: -8%;
	right: 3%;
	position: relative;
	width: 103%;
}